/* ================================TEMPORARY CODE FOR A STICKY FOOTER & NO HORIZONTAL SCROLL */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 17px;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
} 

/* ================================/TEMPORARY CODE FOR A STICKY FOOTER & NO HORIZONTAL SCROLL */









/* ===========================Colours================================= */

.burgundy-color {
    color: #960018;
}

.matte-grey-color {
    color: #474747;
}

.dark-text {
    color: black;
}

.wheat-color {
    color: #F6E1B6;
}

.link-text-white, .link-text-white:hover {
    color: white;
}

.link-text-burgundy, .link-text-burgundy:hover  {
    color: #960018;
}

.background-programmer-green {
    background-color: #00cc00;
    color: white;
}

.background-employer-blue {
    background-color: #0A89EE;
    color: white;
}

.background-newsletter-red {
    background-color: #F70303;
    color: white;
}




/* ===========================Fonts================================= */

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.shippori-mincho {
    font-family: 'Shippori Mincho', serif;
}










/* ===========================General Styling================================= */

body {
    font-family: 'Shippori Mincho', serif;
    margin-top: 50px;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.link-text-burgundy:hover {
    text-decoration: underline;
}

.main-title {
    text-align: center;
    font-family: 'Shippori Mincho', serif;
    text-decoration: underline;
    padding-bottom: 10px;
}

.button-center {
    text-align: center;
}



/* ===========================Borders================================= */


.left-border-divider {
    border-left: 2px solid black;
}

.top-border-divider {
    border-top: 2px solid black;
}

.top-border-divider-thick {
    border-top: 6px solid black;
}






/* ===========================Navbar================================= */


#navbar-head {
    padding: 0;
    background-color: #474747;
    letter-spacing: 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-light .navbar-brand, .navbar-brand {
    background-color: #960018;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 18px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    font-weight: 400;
}

.navbar-light .navbar-brand:hover{ 
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 30px 8px;
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:focus {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: antiquewhite;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-underline-offset: 0.3em;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    width: 25%;
    text-align: center;
    border-left: 2px solid ivory;
    border-top: none;
    border-bottom: none;
}

.dropdown-divider {
    margin: 0;
}

.navbar-toggler {
    margin-right: 10px;
}




/* ===========================Hero Image================================= */

.hero-image-container{
    background: url("../images/hero-images/Sunny.jpeg") no-repeat top;
    height: 90vh;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;  

    /* animation-name: hero-pan;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: -1;
    width: 150vw;
}

@keyframes hero-pan {
    from{
    transform: translateX(0)
  }
  to{
    transform: translateX(5%) 
  } */
    
  
}







/* ===========================Home Info================================= */

.home-info-container {
    margin: 0 15px;
}

.home-info-container h1 {
    text-align: center;
}

.home-info-section {
    padding: 15px 0;
}
.home-info-section p {
    font-size: 120%;
}







/* ===========================Currently================================= */


#currently {
    padding:12px;
    position: relative;
}

.ci-module-section {
    text-align: center;
    padding: 12px;
}

.ci-module-section img {
    max-height: 200px;
    padding: 10px 0;
}

.progress-bar {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}

#pythonLogo, #djangoLogo, #diplomaIcon {
    max-width: 300px;
    height: 200px;
}

#diplomaProgressBar {
    text-align: left;
}












/* ===========================Work History================================= */

#workHistory h1 {
    padding-top: 20px;
}


/* .job-sections-container{
    border-left: 1px solid;

    Save this for larger screens only
} */


.job-image {
    text-align: center;
    padding-top: 5px;

}

.job-image img {
    min-height: 150px;
    max-width: 185px;
    max-height: 175px;
}

/* .job-details-container {
    text-align: right;
} */

.job-details i {
    padding-top: 10px;    
}

.job-details {
    list-style-type: none;
    font-size: large;    
    font-family: 'Montserrat', sans-serif;
    padding: 16px 5px;
    border: 7px outset #474747;
    font-weight: bolder; 
    margin: 8px 4px; 
      /* the width margin is a little jank and could be cleaner... */
      
}









/* ===========================Projects================================= */

#projectsContainer {
    padding: 0;
}

.project-section, .project-item {
    padding-right: 0;
}

.project-link {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    border: 1px dotted black;    
    font-size: 1.5em;
    margin-bottom: 7px;
}

.project-link a {
    line-height: 138px;
}
/* needs to be changed but we're getting there */

.project-links-container {
    padding: 10px 0px 10px 4px;
}

#writingSection .col-12 h1 {
    padding-top: 15px;
}

#loveRunningLink {
    background: linear-gradient(75deg, lightpink 40%, cyan);
    font-family: 'Oswald', sans-serif;
}

#rosieCvLink {
    background: linear-gradient(75deg, #e67e22 40%, #525252);
    color: white;
    font-family: 'Exo', sans-serif;
}

#personalWebsiteLink {
    background: linear-gradient(75deg, #960018 40%, #474747);
    color: white;
    font-family: 'Parisienne', cursive;
}

#chapter1Link, #chapter2Link {
    background: linear-gradient(75deg, #E4C638 40%, #156F04);    
    font-family: 'Shippori Mincho', serif;
}


#shortStoryLink {
    background: linear-gradient(75deg, grey 40%, gold);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#poemLink {
    background: linear-gradient(75deg, red 40%, black);
    color: white;
    font-family: 'Montserrat', sans-serif;
}









/* ===========================Get in Touch================================= */

#getInTouch {
    width: 100%;   
    padding: 17px 0 5px 0;
}



#employerSection {
     border-top: black solid 4px;
     border-bottom: black solid 4px;
}

#collabImage img, #employImage img {
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 98%;   
    
}

#collabImage, #employImage {
    padding-left: 0;
      
}

#collabInfo, #employInfo {
    text-align: center;
        
}

#collabInfo h1 {
    color: #00cc00;  
    font-size: 42px;  
    padding-top: 10%;
}

#employInfo h1 {
    color: #0A89EE;
    font-size: 42px;  
    padding-top: 10%;
}

#newsletterInfo h1 {
    color: #F70303;
    font-size: 42px;  
    padding-top: 1%;

}

.info-section p {
    background-color: darkgray;
    color: #000000;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    padding: 5%;
}

.modal-open-button {    
    font-size: 1.3rem;
    margin-bottom: 20px;
}


 #newsletterList {
    background-color: darkgray;
    color: #000000;
    text-align: center;
    font-size: 1.2em;
    width: 95%;
    margin: 0 auto;
 }

 #newsletterList p {
     padding: 0;
 }
 
 #newsletterList span {
     display: block;
 }


#newsletterList i {
    color: purple;
}






/* ===========================Modals================================= */


#modalCvDownload h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

#modalCvDownloadButtton a {
    font-size: 1.3rem;
    margin: 21px auto;
}




/* ===========================Footer================================= */

#footerContainer {
    padding-left: 0;
    background-color: #474747;
    letter-spacing: 1px;
    /* margin-top: 33%; */
}

#footerNametagLink {
    width: 105%;
    height: 102%;
}

#footerCv {
    text-align: center;
    padding-top: 40px;
    background-color: #F6E1B6;
    font-family: 'Shippori Mincho', serif;
    font-weight: 600;
}

#footerCv a {
    text-decoration: none;
}

#footerSocialMedias a:hover {
    padding: 0;
    color: #960018;
}

.social-media-row li {
    width: 23%;
    font-size: x-large;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

/* ===========================Media Queries================================= */

/* Mobile & Tablet */

@media(max-width: 991px) {
    .navbar-light .navbar-brand, .navbar-brand{
        width: auto;
    }

    .navbar-nav .nav-item {
        width: inherit;
    }

    #navbar-head {
        background-color: #960018;
    }

    .navbar-collapse {
        background-color: #474747;
    }

    #homeNavLink {
        background-color: rgba(255, 255, 51, 0.4);
    }

    #workHistoryNavLink {
        background-color: rgba(0, 228, 0, 0.35);
    }

    #projectsNavLink {
        background-color: rgba(165, 39, 206, 0.45);
    }

    #getInTouchNavLink {
        background-color: rgba(0, 10, 209, 0.2);
    }

    #collabInfo h1, #employInfo h1 {
        padding-top: 0;
    }
}

@media(max-width: 575px) {
    .left-border-divider {
        border-left: 0;
    }

}

@media(max-width: 414px) {
    .navbar-light .navbar-brand, .navbar-brand{
        padding: 10px;
    }

    .social-media-row li {
    width: 20%;
    }
}

@media(min-width: 414px) {
    #codingSection {
        margin-top: 23px;
    }
}

@media (min-width: 576px) and (max-width: 752px) {
    .job-details {
        margin: 8px 45px; 
    }
}

@media (min-width: 992px) and (max-width: 1130px) {
    .job-details {
        margin: 8px 20px; 
    }

}








/* ===========================Psuedo-classes================================= */



.programmer-button:hover, .programmer-button:focus {
     background-color: white;
    color: #00cc00;
}

 .employer-button:hover, .employer-button:focus {
     background-color: white;
    color: #0A89EE;
}

.newsletter-button:hover, .newsletter-button:focus {
     background-color: white;
    color: #F70303;
}


.modal-open-button:visited {
    border-color: #565e64;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}
/* needs to change... */



/* ===========================Hover.css================================= */


.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #474747;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 51, 0.4);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#homeNavLink:before {
    background: rgba(255, 255, 51, 0.4);
}

#workHistoryNavLink:before {
    background: rgba(0, 228, 0, 0.35);
}

#projectsNavLink:before {
    background: rgba(165, 39, 206, 0.45);
}

#getInTouchNavLink:before {
    background: rgba(0, 10, 209, 0.2);
}

