/* ================================TEMPORARY CODE FOR A STICKY FOOTER */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* ================================TEMPORARY CODE FOR A STICKY FOOTER */



/* ===========================Colours================================= */

.burgundy-color {
    color: #960018;
}

.matte-grey-color {
    color: #474747;
}

.wheat-color {
    color: #F6E1B6;
}

.link-text-white {
    color: white;
}

.link-text-red {
    color: #960018;
}


/* ===========================General Styling================================= */



a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


/* ===========================Navbar================================= */


#navbar-head {
    padding: 0;
    background-color: #474747;
    letter-spacing: 1px;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-light .navbar-brand, .navbar-brand {
    background-color: #960018;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 18px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    font-weight: 400;
}

.navbar-light .navbar-brand:hover{ 
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 30px 8px;
    font-family: 'Shippori Mincho', serif;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:focus {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: antiquewhite;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-underline-offset: 0.3em;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    width: 25%;
    text-align: center;
    border-left: 2px solid ivory;
    border-top: none;
    border-bottom: none;
}

.dropdown-divider {
    margin: 0;
}

.navbar-toggler {
    margin-right: 10px;
}

/* ===========================Hero Image================================= */

.hero-image-container{
    background: url("../images/maybe-the-best-resolution.jpg") no-repeat top;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}


/* ===========================Home Info================================= */

.home-info-container {
    margin: 0 15px;
}

.home-info-container h1 {
    text-align: center;
}

/* ===========================Footer================================= */

#footerContainer {
    padding-left: 0;
    background-color: #474747;
    letter-spacing: 1px;
}

#footerNametagLink {
    width: 105%;
    height: 102%;
}

#footerCv {
    text-align: center;
    padding-top: 40px;
    background-color: #F6E1B6;
    font-family: 'Shippori Mincho', serif;
    font-weight: 600;
}

#footerCv a {
    text-decoration: none;
}

#footerSocialMedias a:hover {
    padding: 0;
    color: #960018;
}

.social-media-row li {
    width: 23%;
    font-size: x-large;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

/* ===========================Media Queries================================= */

/* Mobile & Tablet */

@media(max-width: 991px) {
    .navbar-light .navbar-brand, .navbar-brand{
        width: auto;
    }

    .navbar-nav .nav-item {
        width: inherit;
    }

    #navbar-head {
        background-color: #960018;
    }

    .navbar-collapse {
        background-color: #474747;
    }

    #homeNavLink {
        background-color: rgba(255, 255, 51, 0.4);
    }

    #workHistoryNavLink {
        background-color: rgba(0, 228, 0, 0.35);
    }

    #projectsNavLink {
        background-color: rgba(165, 39, 206, 0.45);
    }

    #getInTouchNavLink {
        background-color: rgba(0, 10, 209, 0.2);
    }
}

@media(max-width: 414px) {
    .navbar-light .navbar-brand, .navbar-brand{
        padding: 10px;
    }

    .social-media-row li {
    width: 20%;
    }
}

/* Large Tablets and bigger */

/* @media(min-width: 767px) {
    #footerCv {
        font-size: 1.2em;
    }
} */

/* Large Screens */

/* @media(min-width: 1400px) {
    #footerCv {
        font-size: 1.2em;
    }
} */

/* ===========================Hover.css================================= */


.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #474747;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 51, 0.4);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#homeNavLink:before {
    background: rgba(255, 255, 51, 0.4);
}

#workHistoryNavLink:before {
    background: rgba(0, 228, 0, 0.35);
}

#projectsNavLink:before {
    background: rgba(165, 39, 206, 0.45);
}

#getInTouchNavLink:before {
    background: rgba(0, 10, 209, 0.2);
}

