/* ================================TEMPORARY CODE FOR A STICKY FOOTER */

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* ================================TEMPORARY CODE FOR A STICKY FOOTER */



/* ===========================Navbar================================= */


#navbar-head {
    padding: 0;
    background-color: #474747;
    }

.navbar-brand {
    margin-right: 0;
}

.navbar-light .navbar-brand, .navbar-brand {
    background-color: #960018;
    color: white;
    text-align: center;    
    margin: 0, auto;
    padding: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover {
    color: white;
}


.navbar-light .navbar-nav .nav-link.active {
    color: #00ff15;
}

.navbar {
    padding-top: 0;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    width: 25%;
    text-align: center;
    border: 2px solid ivory;
    border-top: none;
    border-bottom: none;
}


/* ===========================Media Queries================================= */

/* Mobile & Tablet */

@media(max-width: 992px) {
    .navbar-light .navbar-brand, .navbar-brand{
        width: auto;
    }

    .navbar-nav .nav-item {
        width: inherit;
    }

    #navbar-head {
        background-color: #960018;
    }

    .navbar-collapse {
        background-color: #474747;
    }
}

/* ===========================Hover.css================================= */


.hvr-shutter-out-horizontal {
    background-color: inherit;
}

.hvr-shutter-out-horizontal:before {
    background-color: rgba(18, 10, 143, 0.3);
}